/* style generale per il sito web */
body {
    font-family: 'segoe UI', sans-serif;
}
.navbar-brand {
    font-size: 1.5rem;
}
.bg-primary {
    background: linear-gradient(135deg,#20c997, #f8fafc)!important;
}
.card {
    border-radius: 15px;
    transition: transform 0.4s;
}
.card:hover {
    transform: translateY(-5px);
}
footer{
    margin-top: auto  ;
}
